*{
    box-sizing: border-box;
}

body{
    font: system-ui;
    margin: 0;
    
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 50px;
    font-family: 'HankenGrotesk';
}

.box1{
    border-radius: 20px;
    border:1px solid blue ;
    width:250px;
    height:350px ;
   
    background-color: rgb(46, 46, 190) ;
}

.box2{
    border-radius: 20px;
    border-top-right-radius: none;
    /* background-color: gray; */
    border: 1px solid black;
    border-left: none;
    width: 250px;
    height: 350px;
    
}

.text1{
    text-align: center;
    font-size: 15px;
    color:rgba(245, 245, 245, 0.726);
    font-family: sans-serif;
    margin: 5px;
    padding: 25px;
    
}

.circle{
        width: 125px;
        height: 125px;
        border-radius: 50%;
        background-color: rgb(33, 33, 141);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;    
        /* center horizontally */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Example shadow values */

   
}

#number{
    font-size: 50px;
    color: white;
}

.total-score{
    text-align: center;
}

#score{
    align-content: center;
    color: rgba(245, 245, 245, 0.555);
}

#feedback{
    color: white;
    text-align: center;
}

.paragraph{
    text-align: center;
    font-size: 15px;
    color:rgba(245, 245, 245, 0.726);
    font-family: sans-serif;
    margin: 2px;
    padding: 5px;
}


#text2{
font-weight: bold;
font-size: 18px;
text-align: left;
padding: 5px;
margin: 0;


}

.summary-score{
    display: flex;
    justify-content: center;
    
}

.summary-list-container {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.summary-list{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    width: 210px;

    
}




#list1, #list2, #list3, #list4 {
    padding: 10px; /* Increase padding for visual size */
    border-radius: 5px;
    margin: 10px 0;
    width: 210px;
  }
  
  #list1 {
    background-color: hsla(0, 59%, 72%, 0.37);
    background-image: url("assets/images/icon-reaction.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    background-size: 16px;
    padding-left: 20px;
  }
  
  #list2 {
    background-color: rgba(228, 228, 144, 0.726);
    background-image: url("assets/images/icon-memory.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    background-size: 16px;
    padding-left: 20px;
  }
  
  #list3 {
    background-color: rgba(49, 241, 24, 0.493);
    background-image:url("assets/images/icon-verbal.svg") ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    background-size: 16px;
    padding-left: 20px;
  }
  
  #list4 {
    background-color: rgba(169, 112, 216, 0.541);
    background-image: url("assets/images/icon-visual.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    background-size: 16px;
    padding-left: 20px;
  }

  #text-score1{
    color: red;
  }

  #text-score2{
    color: rgb(245, 212, 28);
  }

  #text-score3{
    color: hsla(84, 89%, 39%, 0.979)
  }

  #text-score4{
    color: rgb(107, 0, 128)
  }

 .number {
   
    font-weight: bold;
  }


.button{
    color: rgba(245, 245, 245, 0.664);
    background-color: gray;
    border-radius: 20px;
    margin: 4px ;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    text-align: center;
   
}

.button:hover{
  background-color: rgba(41, 5, 247, 0.897);
}

.attribution{
    position: fixed;
    bottom: 0;
    width: 50%;
    background: #fff; /* Change as needed */
    text-align: center;
    padding: 5px;
}